<p>
  <strong>Medium:</strong>
  <%= purchase.medium.title %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= purchase.buyer.name %>
</p>

<p>
  <strong>Seller:</strong>
  <%= purchase.seller.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= purchase.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= purchase.created_at %>
</p>
