<%= form_for(@load_funds_transaction) do |f| %>
  <% if @load_funds_transaction.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
          <%= pluralize(@load_funds_transaction.errors.count, "error") %> prohibited this load_funds_transaction from being saved:
          <ul>
          <% @load_funds_transaction.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :amount %>
    <div class="input-group">
        <%= f.number_field :amount, class: 'form-control' %>
        <div class="input-group-btn">
            <%= f.submit class: 'btn btn-success' %>
        </div>
  </div>
<% end %>
