<%= flash_messages %>

<h1>Listing Load Funds Transactions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @load_funds_transactions.each do |load_funds_transaction| %>
      <tr>
        <td><%= humanized_money_with_symbol load_funds_transaction.amount %></td>
        <td><%= humanized_date load_funds_transaction.created_at %></td>
        <td><%= link_to 'Show', load_funds_transaction %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Load funds transaction', new_load_funds_transaction_path %>
