<%= flash_messages %>

<p>
  <strong>Title:</strong>
  <%= @medium.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medium.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @medium.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @medium.category %>
</p>

<p>
  <%= link_to 'Download', @medium.file %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %>
