<div class="card">
  <img class="card-img-top" src="<%= medium.thumbnail %>" alt="<%= medium.title %>">

  <div class="card-block">
    <h4 class="card-title"><%= medium.title %></h4>
    <p class="card-text"><%= medium.description %></p>
    <p class="card-text"><%= humanized_money_with_symbol medium.price %></p>

    <%= link_to 'Show', medium_path(medium), class: 'btn btn-primary' %>
    <%= medium.call_to_action %>
  </div>
</div>
