<%= form_for(@medium) do |f| %>
  <% if @medium.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <%= pluralize(@medium.errors.count, "error") %> prohibited this medium from being saved:

      <ul>
      <% @medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price, 'Price' %><br>
    <%= f.text_field :price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :thumbnail %><br>
    <%= f.text_field :thumbnail, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :file %><br>
    <%= f.text_field :file, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
