<h2><%= medium.title %></h2>

<p>
  <%= medium.description %>
</p>

<strong><%= medium.price %></strong>

<p>
  <%= link_to medium.category_name, medium.category_path %>
</p>

<p>
  <%= link_to 'Download', medium.download_url %>
</p>
