<p id="notice"><%= notice %></p>

<%= render partial: 'media_content_types_nav', locals: { path_helper: method(:media_path) } %>

<h1>Portfolio</h1>

<%= categories_select(@portfolio, path_helper: method(:media_path)) %>

<%= render partial: 'media/cards_display', locals: { media_view: @portfolio } %>

<br>

<%= link_to 'New Medium', new_medium_path %>
