<!DOCTYPE html>
<html>
<head>
  <title>uniTunes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield :header %>

  <%= content_for?(:content) ? yield(:content) : yield %>
</body>
</html>
