<% content_for :content do %>
  <nav>
    <%= link_to 'Books', catalog_path(catalog: { media_content_type: Medium::BOOK }) %>
    <%= link_to 'Music', catalog_path(catalog: { media_content_type: Medium::SONG }) %>
    <%= link_to 'Movies', catalog_path(catalog: { media_content_type: Medium::VIDEO}) %>
    <%= link_to 'Podcasts', catalog_path(catalog: { media_content_type: Medium::PODCAST }) %>
  </nav>

  <%= content_for?(:catalogs_content) ? yield(:catalogs_content) : yield %>
<% end %>

<%= render template: 'layouts/authenticated' %>
