<% content_for :content do %>
  <ul class="nav nav-pills">
    <li><%= link_to 'Books', catalog_path(catalog: { media_content_type: Medium::BOOK }) %></li>
    <li><%= link_to 'Music', catalog_path(catalog: { media_content_type: Medium::SONG }) %></li>
    <li><%= link_to 'Movies', catalog_path(catalog: { media_content_type: Medium::VIDEO}) %></li>
    <li><%= link_to 'Podcasts', catalog_path(catalog: { media_content_type: Medium::PODCAST }) %></li>
  </ul>

  <%= content_for?(:catalogs_content) ? yield(:catalogs_content) : yield %>
<% end %>

<%= render template: 'layouts/authenticated' %>
