<% content_for :content do %>
  <ul class="nav nav-pills">
    <li><%= link_to 'Books', store_path(Medium::BOOK) %></li>
    <li><%= link_to 'Music', store_path(Medium::SONG) %></li>
    <li><%= link_to 'Movies', store_path(Medium::VIDEO) %></li>
    <li><%= link_to 'Podcasts', store_path(Medium::PODCAST) %></li>
  </ul>

  <%= content_for?(:stores_content) ? yield(:stores_content) : yield %>
<% end %>

<%= render template: 'layouts/authenticated' %>
